<phpunit
  colors="true"
  verbose="true"
  failOnRisky="true"
  beStrictAboutChangesToGlobalState="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  bootstrap="./bootstrap.php"
>


  <testsuites>
    <testsuite name="Abexto Amylian PhpUnit Test Suite">
      <directory>./units</directory>
    </testsuite>
  </testsuites>

</phpunit>